.body{
    margin-bottom: 60px !important;
}
.footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 60px !important; /* Set the fixed height of the footer here */
    line-height: 60px !important; /* Vertically center the text there */
    background-color: #f5f5f5 !important;
}